.cursor {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 124px;
	height: 124px;
	z-index: 9999;
	pointer-events: none;
	border-radius: 50%;
	text-transform: uppercase;
	font-family: $font-en;
	border: 2px solid #282828;
	color: #282828;
	font-weight: 700;
	&.fff {
		border: none;
		background-color: #fff;
	}

	&.gradient {
		border: none;
		color: #fff;
		background: url(../images/gradient-bg.jpg) no-repeat center / cover;
	}

	@include tablet {
		display: none;
		opacity: 0;
	}
}

.bg-area {
	position: relative;
}
.bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	opacity: 0;
	background: url(../images/gradient-bg.jpg) no-repeat center / cover;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.orbit {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	@include mobile {
		padding-bottom: 40px;
	}

	.text-area {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		z-index: 3;
		display: inline-block;
		text-align: center;
		text-transform: uppercase;
		font-size: 100px;
		line-height: 1.2;
		font-weight: 800;
		font-family: $font-en;
		@include desktop {
			font-size: 48px;
		}

		@include tablet {
			font-size: 32px;
		}

		@include mobile {
			font-size: 18px;
		}

		p {
			background: linear-gradient(
				to right,
				rgb(255, 255, 255) 50%,
				rgba(255, 255, 255, 0.3) 50%
			);
			background-size: 200% 100%;
			background-position-x: 100%;
			color: transparent;
			background-clip: text;
			-webkit-background-clip: text;
		}
	}

	.orbit-context {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 300px 0;
		width: 798px;
		@include tablet {
			width: 558px;
		}
		@include mobile {
			margin: 200px 0;
		}

		.path {
			@include tablet {
				display: none;
			}
			@include mobile {
				display: none;
			}
		}
	}

	.square {
		position: absolute;
		pointer-events: none;
		margin: 4px;
		display: block;
		top: -10px;
		left: -10px;
		border-radius: 100px;
		width: 10px;
		height: 10px;
		opacity: 1;
		transition: opacity 0.3s ease-out;
		background-color: #fff;
		@include tablet {
			display: none;
		}
		@include mobile {
			display: none;
		}
	}
}

.sc-about {
	position: relative;
	width: 100%;
	background: url(../images/noise-bg.png) repeat;
	z-index: 2;
	height: 100vh;

	.title-area {
		padding: 68px 60px 0;
		font-family: $font-en;
		font-weight: 800;
		font-size: 160px;
		line-height: 0.9;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		color: #282828;
		z-index: 5;
		overflow: hidden;
		word-wrap: wrap;

		@include desktop-m {
			font-size: 10vmax;
		}
		@include tablet {
			padding-left: 40px;
			padding-top: 120px;
			font-size: 11vmin;
		}

		@include mobile {
			padding-left: 16px;
			// padding-top: 180px;
			padding-top: 40%;
		}

		p {
			overflow: hidden;
		}

		span {
			display: inline-block;
			position: relative;
		}
	}

	.info-area {
		position: absolute;
		bottom: 160px;
		right: 60px;
		margin-top: 189px;
		@include desktop-m {
			bottom: 100px;
		}

		@include tablet {
			right: 40px;
			bottom: 180px;
		}
		@include mobile {
			bottom: 20%;
			right: 14px;
			width: 298px;
		}
		p {
			display: flex;
			flex-direction: column;
			font-family: $font-kr;
			font-size: 28px;
			font-weight: 400;
			line-height: 1.4;
			letter-spacing: -0.07em;
			text-align: right;
			overflow: hidden;
			@include desktop {
				font-size: 16px;
			}
			@include mobile {
				font-size: 14px;
			}
		}
		span {
			display: block;
		}
	}

	i.fa-arrow-down {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 30px;
		@include desktop {
			font-size: 18px;
		}
	}
}
.sc-works {
	position: relative;
	background: url(../images/noise-bg.png) repeat;
	z-index: 3;

	.current-page {
		color: #fff;
	}

	.content {
		padding: 106px 60px;
		@include mobile {
			padding: 106px 20px;
		}
	}

	.works-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 360px);
		column-gap: 20px;
		padding-bottom: 100px;
		@include desktop {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(5, 300px);

			.ready {
				&:last-child {
					display: none;
				}
			}
		}

		@include tablet {
			grid-template-columns: repeat(1, 1fr);
			grid-template-rows: repeat(7, 300px);
			.ready {
				display: none;
			}
		}

		@include mobile {
			grid-template-rows: repeat(7, 260px);
		}
	}

	.works-item {
		position: relative;

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 90%;
			height: 2px;
			background-color: #fff;
			z-index: 3;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			display: block;
			width: 2px;
			height: 90%;
			background-color: #fff;
			z-index: 3;
		}

		.work-title {
			padding: 20px 6px;
			font-family: $font-en;
			font-size: 32px;
			font-weight: 700;
			letter-spacing: -0.05em;
			color: #fff;
		}

		.badge-area {
			position: absolute;
			bottom: 20px;
			left: 6px;
			display: flex;
		}

		.hover-img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.5s;
			z-index: 2;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.link-area {
			display: flex;
			position: absolute;
			bottom: 20px;
			right: 20px;
			opacity: 0;
			transition: opacity 0.5s;
			z-index: 3;
			a {
				width: 42px;
				height: 42px;
			}
			a + a {
				margin-left: 10px;
			}
		}

		&:hover {
			.hover-img {
				opacity: 1;
			}

			.link-area {
				opacity: 1;
			}
		}
	}
}
.sc-contact {
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../images/noise-bg.png) repeat;

	.content {
		position: relative;
		padding: 68px 60px 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		font-family: $font-en;
		letter-spacing: -0.05em;
		color: #282828;
		line-height: 1;
		text-transform: uppercase;
		overflow: hidden;

		@include desktop {
			padding: 20vh 60px 20vh;
		}
		@include mobile {
			padding: 15vh 16px 120px;
		}
	}

	.title-area {
		margin-bottom: 38px;
	}

	.title {
		display: flex;
		flex-direction: column;
		font-weight: 800;
		font-size: 160px;
		overflow: hidden;

		@include desktop-m {
			font-size: 120px;
		}

		@include desktop {
			font-size: 64px;
		}

		@include mobile {
			font-size: 48px;
		}

		span {
			display: inline-block;
		}
	}

	.contact-area {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		position: absolute;
		top: 50%;
		right: 60px;
		transform: translateY(-50%);

		@include mobile {
			align-items: flex-start;
			left: 16px;
			right: 0;
		}
	}

	.contact-title {
		font-weight: 700;
		font-size: 64px;
		margin-bottom: 25px;
		text-align: right;
		overflow: hidden;
		@include desktop {
			margin-bottom: 10px;
			font-size: 36px;
		}

		@include mobile {
			justify-content: flex-start;
			text-align: left;
			font-size: 32px;
		}
	}
	.addr-box {
		font-size: 40px;
		font-weight: 500;
		margin-bottom: 20px;
		text-align: right;
		overflow: hidden;
		@include desktop {
			margin-bottom: 10px;
			font-size: 28px;
		}
		@include mobile {
			text-align: left;
		}
		span {
			display: block;
			margin-bottom: 10px;
		}

		.phone-num {
			display: inline-block;
		}

		@include mobile {
			text-align-last: left;
			font-size: 16px;
		}
	}
	.link-box {
		display: flex;
		justify-content: flex-start;
		overflow: hidden;
		@include mobile {
			justify-content: flex-start;
			margin-top: 10px;
		}
		a {
			display: block;
			width: 42px;
			height: 42px;
			@include desktop {
				width: 32px;
				height: 32px;
			}
			& + a {
				margin-left: 10px;
			}
		}
	}
	.info-area {
		position: absolute;
		bottom: 0;
		width: calc(100% - 120px);

		display: flex;
		justify-content: space-between;
		padding-bottom: 50px;

		@include desktop {
			bottom: 12vh;
		}

		@include tablet {
			align-items: center;
			margin-top: 20px;
			width: 100%;
			flex-direction: row;
			bottom: 8vh;
		}

		@include mobile {
			flex: 1;
			padding-bottom: 0;

			flex-direction: column;
			align-items: flex-start;
		}

		.info-list {
			font-family: $font-kr;
			font-weight: 500;
			line-height: 1.4;
			font-size: 22px;
			margin-bottom: 25px;
			@include desktop {
				font-size: 18px;
			}
			@include tablet {
				margin-bottom: 0;
			}
			@include mobile {
				font-size: 14px;
				margin-bottom: 20px;
			}
			span {
				display: block;
			}
		}
	}

	@keyframes rotateAnimation {
		100% {
			transform: rotate(360deg);
		}
	}

	.rotate-article {
		position: relative;
		width: 80px;
		height: 80px;
		animation: rotateAnimation 12s linear infinite;
		display: none;
		@include tablet {
			width: 40px;
			height: 40px;
		}
		> i {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;

			&::after,
			&::before {
				content: '';
				position: absolute;
				display: block;
				background-color: #222;
			}
		}
		.str {
			&::before {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				width: 70px;
				height: 3px;

				@include tablet {
					height: 1px;
					width: 40px;
				}
			}
			&::after {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: block;
				width: 3px;
				height: 80px;
				@include tablet {
					width: 1px;
					height: 40px;
				}
			}
		}
		.rotate {
			&::before {
				left: 50%;
				transform: translateX(-50%) rotate(45deg);
				transform-origin: center center;
				width: 3px;
				height: 80px;
				@include tablet {
					width: 1px;
					height: 40px;
					top: 0;
				}
			}
			&::after {
				left: 50%;
				transform: translateX(-50%) rotate(-45deg);
				transform-origin: center center;
				width: 3px;
				height: 80px;
				@include tablet {
					width: 1px;
					height: 40px;
					top: 0;
				}
			}
		}
	}
}
